In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.read_excel('processed_train.xlsx')
pd.set_option('display.max_columns', None)
df

,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,Dep_hour,Arr_hour,_Air Asia,_Air India,_GoAir,_IndiGo,_Jet Airways,_Jet Airways Business,_Multiple carriers,_Multiple carriers Premium economy,_SpiceJet,_Trujet,_Vistara,_Vistara Premium economy,source_Banglore,source_Chennai,source_Delhi,source_Kolkata,source_Mumbai,_Friday,_Monday,_Saturday,_Sunday,_Thursday,_Tuesday,_Wednesday,_Banglore,_Cochin,_Delhi,_Hyderabad,_Kolkata,_April,_December,_January,_June,_March,_May,_September,_1 Long layover,_1 Short layover,_2 Long layover,_Business class,_Change airports,_In-flight meal not included,_No check-in baggage included,_No info,_Red-eye flight
0,2220,110,170,0,3897,22,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
1,550,1315,445,2,7662,5,13,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
2,925,425,1140,2,13882,9,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
3,1805,2330,325,1,6218,18,23,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,1650,2135,285,1,13302,16,21,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10677,1955,2225,150,0,4107,19,22,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
10678,2045,2320,155,0,4145,20,23,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
10679,820,1120,180,0,7229,8,11,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
10680,1130,1410,160,0,12648,11,14,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
10681,1055,1915,500,2,11753,10,19,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0

In [3]:
# dy = pd.read_excel('processed_test.xlsx')
# pd.set_option('display.max_columns', None)
# dy

In [4]:
y=df['Price']
X=df.drop(['Price'],axis=1)

In [5]:
# lets split the data in train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y ,
                                   random_state=0, 
                                   test_size=0.25, 
                                   shuffle=True)

In [6]:
#lets use models which do not required normalization
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)
y_pred_dt = regressor.predict(X_test)
x_train_result = regressor.predict(X_train)
x_train_result_series = pd.Series(x_train_result, index=X_train.index)

In [7]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred_dt)
print(mse)
r2_test = r2_score(y_test, y_pred_dt)
print(len(X_train),len(x_train_result))
r2_train = r2_score(y_train,x_train_result)

7715486.136788135
8011 8011

In [8]:
r2_train # 0.991 after removing route

0.9909781618825805

In [9]:
r2_test # 0.6626  result inprove on removing route 0.7517 .69 with arr, dep hr as dummy, .71 with dep time arrival time no dummy and hr

0.6579907975338688

In [10]:
y_pred_series =  pd.Series(y_pred_dt, index=X_test.index)
x_test_result = pd.concat([y_test, y_pred_series], axis=1)
x_test_result

       Price        0
10506  14781  13941.0
7705    5636   5636.0
7700    3597   3597.0
1437   16757   8578.0
8884    4804   4804.0
...      ...      ...
4178    7199   6902.0
2530    4409   4409.0
5257    8309   8614.0
633     5198   5198.0
4129    6354   6095.0

[2671 rows x 2 columns]

In [11]:
x_train_result = pd.concat([y_train, x_train_result_series], axis=1)
x_train_result

       Price        0
10135  14231  14231.0
1755    8016   7622.5
756     8879   8879.0
3671    9663   9663.0
7093    7531   7531.0
...      ...      ...
9225    4483   4483.0
4859   10651  10546.0
3264   17024  17024.0
9845   11966  11966.0
2732   13067  13067.0

[8011 rows x 2 columns]

In [12]:
from sklearn import datasets, linear_model, metrics
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model, metrics
model = linear_model.LinearRegression()
# train the model using the training sets
model.fit(X_train, y_train)
# y_pred_lr = model.predict(X_test)

print('Variance score or r_sq: {}'.format(model.score(X_test, y_test))) 
# 0.663 with dep &arr time as dummy, .652 with dep &arr time as int

Variance score or r_sq: 0.6527656852571739

In [13]:
from sklearn.neighbors import KNeighborsRegressor
for K in range(1,10):
    K = K+1
    model = KNeighborsRegressor(n_neighbors = K)
    model.fit(X_train,y_train)
#     y_pred7 = model.predict(X_test)
    print('Variance score or r_sq: {}'.format(model.score(X_test, y_test)))

Variance score or r_sq: 0.5238964441753673
Variance score or r_sq: 0.5333453291664191
Variance score or r_sq: 0.5476380110292454
Variance score or r_sq: 0.5514296483021828
Variance score or r_sq: 0.5458541847968488
Variance score or r_sq: 0.5481880374837886
Variance score or r_sq: 0.5437848133797366
Variance score or r_sq: 0.5403427404058201
Variance score or r_sq: 0.5362965797873483

In [14]:
model = KNeighborsRegressor(n_neighbors = 5)
model.fit(X_train,y_train)
model.score(X_test, y_test)    # 0.557 slightly decrease on removing route 0.5515 , 0.5584 with dep, arr hr as dummy

0.5514296483021828

In [15]:
stop

NameError: name 'stop' is not defined

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
# Define the model
model = RandomForestRegressor()
# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
# Define the grid search with cross-validation
grid_search = GridSearchCV(
    estimator=model,
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)
# Train the model with grid search
grid_search.fit(X_train, y_train)
# Get the best hyperparameters and score
best_params = grid_search.best_params_
best_score = grid_search.best_score_
# Evaluate the model on the test set
y_pred = grid_search.predict(X_test)
score = grid_search.score(X_test, y_test)
# Print the results
print('Best parameters:', best_params)
print('Best score:', -best_score)
print('Test score:', -score)
r2 = r2_score(y_test, y_pred)
r2   # 0.8132  after removing route 0.8513499563881023, .84 with arr_hr and dep_hr as dummy, .851 with arr dep hr as int
# .855 with dep time arrival time no dummy and hr ,0.8475 when time is in float, with hr as float list no dummy
# .845 arr hr and dep hr only

Best parameters: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 150}
Best score: 3269901.4035698376
Test score: 3472184.430717927

0.8460862987877125

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [ ]:
# models after normalisation

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn import linear_model

# Create an instance of the SGDRegressor model
model = linear_model.SGDRegressor()

# Define the hyperparameters to search over
param_grid = {
    'alpha': [0.0001, 0.001, 0.01],
    'penalty': ['l1', 'l2', 'elasticnet'],
    'max_iter': [1000, 5000, 10000],
}

# Create a GridSearchCV object to find the best hyperparameters
grid_search = GridSearchCV(model, param_grid, cv=5)

# Fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and the variance score on the test set
print('Best hyperparameters: {}'.format(grid_search.best_params_))
print('Variance score or r_sq: {}'.format(grid_search.best_estimator_.score(X_test, y_test)))
# r_sq: -3.165752431676326e+22

In [17]:
from sklearn import linear_model
alp = np.logspace(-5, -1, 30)
for i in alp :
    model = linear_model.Lasso(alpha=i)
    model.fit(X_train,y_train)
    # y_pred7 = model.predict(x_test)
    print(f'r_sq: {model.score(X_test, y_test)} for alpha : {i}')

r_sq: 0.6526786629976569 for alpha : 1e-05
r_sq: 0.6526786616992795 for alpha : 1.3738237958832637e-05
r_sq: 0.6526786599154903 for alpha : 1.8873918221350958e-05
r_sq: 0.6526786574647887 for alpha : 2.592943797404667e-05
r_sq: 0.6526786540977872 for alpha : 3.5622478902624444e-05
r_sq: 0.6526786494718013 for alpha : 4.893900918477499e-05
r_sq: 0.652678643115909 for alpha : 6.723357536499335e-05
r_sq: 0.6526786343828954 for alpha : 9.236708571873866e-05
r_sq: 0.6526786223831267 for alpha : 0.0001268961003167922
r_sq: 0.6526786058935068 for alpha : 0.00017433288221999874
r_sq: 0.6526785832320268 for alpha : 0.0002395026619987486
r_sq: 0.6526785520847116 for alpha : 0.00032903445623126676
r_sq: 0.6526785092665457 for alpha : 0.00045203536563602405
r_sq: 0.6526784503905114 for alpha : 0.0006210169418915617
r_sq: 0.6526783848886255 for alpha : 0.0008531678524172806
r_sq: 0.6526782840763148 for alpha : 0.0011721022975334804
r_sq: 0.6526781399610924 for alpha : 0.0016102620275609393
r_sq: 0.6526779413850328 for alpha : 0.002212216291070448
r_sq: 0.6526776673809136 for alpha : 0.0030391953823131978
r_sq: 0.6526772886395189 for alpha : 0.0041753189365604
r_sq: 0.6526767639268053 for alpha : 0.005736152510448681
r_sq: 0.6526760123757496 for alpha : 0.007880462815669913
r_sq: 0.6526751094094166 for alpha : 0.01082636733874054
r_sq: 0.6526737247557877 for alpha : 0.014873521072935119
r_sq: 0.6526717100991867 for alpha : 0.020433597178569417
r_sq: 0.6526688915177253 for alpha : 0.028072162039411756
r_sq: 0.65266481901464 for alpha : 0.03856620421163472
r_sq: 0.6526588478822658 for alpha : 0.05298316906283707
r_sq: 0.6526491181702544 for alpha : 0.07278953843983146
r_sq: 0.6526347815646437 for alpha : 0.1

In [18]:
alp = .22
model = linear_model.Lasso(alpha=alp)
model.fit(X_train,y_train)
print(f'r_sq: {model.score(X_test, y_test)}')    #0.730,.663 with dep time arr hr in dummy .652 with dep time arrival time no dummy and hr

r_sq: 0.6526183660720279

In [ ]:
# !pip install lazypredict

In [ ]:
# from lazypredict.Supervised import LazyRegressor
# reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
# models, predictions = reg.fit(X_train, X_test, y_train, y_test)
# models.head(10)

In [19]:
dy = pd.read_excel('processed_test.xlsx')
pd.set_option('display.max_columns', None)
dy

,Dep_Time,Arrival_Time,Duration,Total_Stops,Dep_hour,Arr_hour,_Air Asia,_Air India,_GoAir,_IndiGo,_Jet Airways,_Jet Airways Business,_Multiple carriers,_Multiple carriers Premium economy,_SpiceJet,_Vistara,_Vistara Premium economy,source_Banglore,source_Chennai,source_Delhi,source_Kolkata,source_Mumbai,_Friday,_Monday,_Saturday,_Sunday,_Thursday,_Tuesday,_Wednesday,_Banglore,_Cochin,_Delhi,_Hyderabad,_Kolkata,_April,_December,_January,_June,_March,_May,_September,_1 Long layover,_Business class,_Change airports,_In-flight meal not included,_No check-in baggage included,_No info
0,1730,425,655,1,17,4,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
1,620,1020,240,1,6,10,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
2,1915,1900,1425,1,19,19,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
3,800,2100,780,1,8,21,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
4,2355,245,170,0,23,2,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,2030,2025,1435,1,20,20,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
2667,1420,1655,155,0,14,16,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
2668,2150,425,395,1,21,4,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
2669,400,1915,915,1,4,19,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
2670,455,1915,860,1,4,19,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [ ]:
#We found that few dummy columns are missing in test data data, hence we remove these dummy variable from train data too

In [20]:
dy = dy[X.columns]

KeyError: "['_Trujet', '_1 Short layover', '_2 Long layover', '_Red-eye flight'] not in index"

In [ ]:
# KeyError: "['_Trujet', '_1 Short layover', '_2 Long layover', '_Red-eye flight'] not in index" missing

In [ ]:
extra_features = ['_Trujet', '_1 Short layover', '_2 Long layover', '_Red-eye flight']

In [ ]:
X = X.drop(extra_features, axis=1)

In [ ]:
dy

In [ ]:
df

In [ ]:
#random forest is performing best hence we use it

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# Define the model
model = RandomForestRegressor()

# Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
# Define the grid search with cross-validation
grid_search = GridSearchCV(
    estimator=model,
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)
# Train the model with grid search
grid_search.fit(X, y)
# Get the best hyperparameters and score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

In [23]:
# Evaluate the model on the test set
y_pred = grid_search.predict(dy)

ValueError: The feature names should match those that were passed during fit.
Feature names seen at fit time, yet now missing:
- _1 Short layover
- _2 Long layover
- _Red-eye flight
- _Trujet

In [ ]:
print(y_pred)

In [ ]:
submit = pd.DataFrame({'Price': y_pred})
# save the dataframe to an excel file
submit.to_excel('submission.xlsx', index=False)

In [ ]:
submit

In [ ]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2
# bestfeatures = SelectKBest(score_func=chi2, k=10)
# fit = bestfeatures.fit(X,y)
# dfscores = pd.DataFrame(fit.scores_)
# dfcolumns = pd.DataFrame(X.columns)
# #concat two dataframes for better visualization 
# featureScores = pd.concat([dfcolumns,dfscores],axis=1)
# featureScores.columns = ['Specs','Score']  #naming the dataframe columns
# xx = featureScores.nlargest(20,'Score')  #print 10 best features
# print(xx)